# File types to ignore
*.min.js
jquery*
*bootstrap*
README.md
.github
*.min.html
**/assets/**
**/dist/**
**/build/**

# Directories and files to ignore
node_modules/
2015/dev-files/raw-data.json
static_imports/
2016/
