@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,100..900;1,400..900&display=swap');

:root {
    --main-bg-color: #4d0000;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Open Sans;
    height: 100%;
    margin: 0;
    padding: 0;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

#maroon-text {
    background-color: #800000;
    border-radius: 5px;
    color: white;
    padding: 3px;
}

.header {
    padding: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9999;
    color: white;
}

.header img {
    width: 30%;
    margin: auto;
}

.map-container-intro {
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    width: 100%;
    height: 800px;
}

#map-intro {
    height: 100%;
    width: 100%;
    margin: 0;
}

.map-container-body {
    position: sticky;
    z-index: 1;
    margin: auto;
    top: 0;
    width: 100%;
}

.timeline-container {
    position: absolute;
    height: fit-content;
    z-index: 3;
    left: 10px;
    vertical-align: middle;
}
.timeline-inner {
    font-family: Playfair Display;
    background-color: black;
    width: 70px;
    height: 90%;

    border-radius: 5px;
    margin-block: 10px;
    left: 10px;
    padding: 10px;
    vertical-align: middle;
    align-content: center;
}

.timeline-text {
    color: #606060;
    font-size: medium;
}

#timeline-0 {
    color: white;
    font-size: x-large;
}

#map-body {
    height: 100%;
    margin: 0;
}

#explore-nav {
    font-weight: normal;
    letter-spacing: 0.01em;
    z-index: 1020;
    position: fixed;
    top: 0;
    right: 0%;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    pointer-events: all;
    transition: all 1s ease;
    visibility: hidden;
}

#explore-button {
    font-family: Playfair Display;
    display: inline-block;
    float: left;
    background: white;
    color: #333;
    padding: 5px;
    border-radius: 5px;
}

.maplibregl-ctrl-top-right {
    top: 5%;
}

.scroller {
    position: relative;
    background-color: rgba(255, 255, 255);
    /*border: 1px black solid; */
    padding: 20px;
    /* margin-left: 100px; */
    width: 35%;
    margin-top: 100vh;
    margin-bottom: 20vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: left;
    margin-left: 90px;
    line-height: 1.25;
    font-size: 20px;
    border-radius: 5px;
    z-index: 9999;
}

.scroller.s-intro {
    font-size: 20px;
    width: 30%;
}

#step1 {
    margin-top: 40vh;
}

#step2 {
    margin-left: auto;
    margin-right: 90px;
}

#step3 {
    margin-bottom: 100vh;
    margin-inline: auto;
}

.scroller.chapter {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0;
    height: 100%;
    background: black;
    border: grey solid 4px;
}

.scroller.chapter img {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    opacity: 0.4;
}

.scroller-image {
    display: block;
    max-height: 250px;
    max-width: 100%;
    margin-inline: auto;
    margin-bottom: 20px;
}

#last-scroller {
    margin-bottom: 0;
    opacity: 0;
}

.chapter-title {
    font-family: Playfair Display;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: 400;
    z-index: 999;
    text-align: center;
    color: white;
    width: 80%;
    margin-top: 20px;
}

.chapter-title p {
    margin: 20px;
}

.num-chapter {
    font-size: 30px;
    font-family: Open Sans;
}
.line-chapter {
    width: 20%;
}

.intro {
    background-color: var(--main-bg-color);
    color: white;
}

.intro hr {
    opacity: 60%;
}

#intro-text {
    width: 45%;
    margin: auto;
    opacity: 0;
}

.title-container {
    padding-top: 100px;
}

#title {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 600;
    z-index: 9999;
    margin-bottom: 30px;
    line-height: 1.14;
}

#intro-text hr {
    margin-block: 30px;
}

#subtitle {
    padding-block: 5px;
    font-size: 26px;
    margin-bottom: 10px;
}

#byline {
    padding-block: 1px;
    font-size: 16px;
}

.byline-link {
    color: white;
    font-weight: bold;
}

.article-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.5;
}
#chapters-container {
    opacity: 0;
}

#highlight-layer {
    /* top right of scree */
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: auto;
}

#methodology {
    background-color: var(--main-bg-color);
}

.line-break {
    width: 120px;
    display: inline-block;
    height: 1px;
    margin: 30px 0 20px;
    background-color: white;
}

#methodology-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    width: 30%;
    margin: auto;
    padding-bottom: 20px;
}

#methodology-text h2 {
    font-size: 15px;
    margin-top: 0;
}
#methodology-text p {
    font-size: 12px;
}

.popup h6 {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    font-weight: bold;
}

.popup-label {
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: normal;
}

@media screen and (max-width: 800px) {
    .header img {
        width: 40%;
    }
    .scroller {
        width: 60%;
        margin-inline: auto;
        font-size: 16px;
    }

    .scroller-image {
        max-height: 200px;
    }

    #intro-text {
        width: 80%;
    }

    #methodology-text {
        width: 80%;
    }
}
