.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#sidebar h1 {
    font-family: 'Domine', serif;
    font-size: 24px;
    font-variant: small-caps;
}

#sidebar .subheader {
    font-size: 15px;
    margin: 10px 0;
    text-align: justify;
}

#sidebar {
    position: absolute;
    width: auto;
    max-width: 350px;
    top: 45px;
    height: 80%;
    border-radius: 10px;
    left: 45px;
    background-color: #104b68;
    opacity: 0.95;
    /*border: 2px solid #800000;*/
    color: white;
    padding: 20px;
    font-family: 'Libre Franklin', sans-serif;
}

#sidebar a {
    color: white;
}

#details {
    font-size: 14px;
    padding: 20px;
    background-color: #177bad;
    border-radius: 10px;
}

#details-text.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#details-text {
    animation-name: none;
}

#details-text h3 {
    margin: 5px 0;
}

#ca-zoom {
    margin: 20px 0;
    color: black;
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    #sidebar {
        top: auto;
        bottom: 10px;
        left: 0;
        width: 90%;
        height: 40%;
        max-width: none;
    }

    #sidebar h1 {
        font-size: 20px;
    }

    #sidebar .subheader {
        font-size: 14px;
    }

    #details {
        padding: 10px;
    }

    #details-text {
        padding: 10px;
    }
}
