/* ============================================================
  CSS RESET
============================================================ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
    padding-top: 51px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
}

.body-image {
    width: 100%;
}
.body-image-div {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
}
iframe {
    padding-top: 10px;
}
.caption {
    display: none;
    font-size: .9rem;
    position: relative;
    top: -20px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
#disqus_thread {
    padding-top: 20px;
}
.ss-q-title,
.ss-choice-label,
.ss-scalenumber,
.ss-scalerow {
    font-size: 1rem;
    font-weight: 500;
}
.ss-choice-label,
.ss-scalenumber,
.ss-scalerow {
    font-weight: 300;
}
.ss-form-question {
    padding-top: 30px;
}
.ss-form-question:first-of-type {
    padding-top: 10px;
}
.ss-scalerow {
    padding-left: 4px;
    padding-right: 4px;
}
li.ss-choice-item {
    list-style-type: none;
}
.ss-scalenumbers {
    text-align: center;
}
.poll-title {
    text-align: center;
}
.ss-navigate {
    padding-top: 20px;
}
.poll-border:last-of-type {
    margin-bottom: 0;
}
.no-margin-bottom {
    margin-bottom: 0;
}
/* Slides */

.slidesjs-pagination {
    position: relative;
    float: right;
    list-style-type: none;
    /*Removes bullet points that come with ul element by default. */
}
a.active[data-slidesjs-item] > svg > circle {
    fill: #333333;
}
a[data-slidesjs-item] {
    padding-left: 1px;
    padding-right: 1px;
}
.glyphicon {
    color: #333333;
    font-size: 1.6rem;
}
.slidesjs-container {
    margin-bottom: 5px;
}
.slidesjs-pagination-item {
    float: left;
}
#slides {
    display: none;
}
/* */

#slides {
    padding-top: 20px;
}
.text {
    margin: 0;
    font-family: "Crimson Text", "Georgia", Cambria, Times New Roman, Times, serif;
}
.alert-success {
    font-size: 1rem;
    font-weight: 300;
}
.alert-success,
.alert-title {
    display: none;
}
.alert-title {
    padding-bottom: 10px;
}
.poll-container {
    text-align: center;
}
#hidden-iframe,
form,
.poll-border {
    display: none;
}
.credit {
    color: #BBBBBB;
    font-size: .7rem;
}
.slideshow-credit {
    position: relative;
    top: -36px;
    left: 70px;
}
.navbar-header:after {
    clear: none;
}
.body-text {
    padding-top: 20px;
    color: #333333;
    font-size: 1.0rem;
    line-height: 1.45;
}
.small-media-credit {
    max-width: 250px;
    margin: 0 auto;
}
.fullscreen {
    padding-left: 0;
    padding-right: 0;
}
.text-background {
    background-color: rgba(50, 50, 50, .8);
    height: 40%;
    text-align: center;
}
.push-down {
    height: 60%;
}
.container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.cover-photo.credit {
    padding-left: 30px;
}
h1.headline,
h3 {
    color: #FFFFFF;
    text-align: center;
}
h1, h2 {
    text-align: center;
}
.produced.small {
    bottom: 40px;
}
.small {
    font-size: 1.2rem;
}
.medium {
    font-size: 1.5rem;
}

.interviewee-name {
    padding-top: 10px;
}
.interview-right-side {
    padding-left: 30px;
    vertical-align: top;
}
.interview:first-of-type {
    padding-top: 30px;
}
.interview {
    padding-left: 10px;
    padding-right: 10px;
}
.lightweight {
    font-weight: 200;
    padding-top: 0;
}
.quotation {
    font-style: italic;
    font-weight: 600;
    padding-top: 10px;
    margin: 0 auto;
}
[text-anchor="end"]>tspan {
    cursor: default;
}
p {
    padding-top: 13px;
}
.navbar-brand > img {
    height: 40px
}
.view-transcript {
    margin-top: 15px;
}
.transcript {
    display: none;
}
.take-poll-btn {
    margin-top: 20px;
}
.author {
    text-align: center;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
      padding-top: 10px;
  padding-bottom: 10px;
}
.produced {
    bottom: 60px;
}
p.first-paragraph:first-letter {
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}
.visible {
    opacity: 1;
}
.white {
    color: white;
}
.video-title {
    margin-top: 20px;
}
.right {
    float: right;
}
.social-icon-container.fb {
    margin-left: 10px;
}
.navbar-default {
    background-color: #FFFFFF;
}
.social-icon {
    height: 20px;
    width: 20px;
}
.social-icon > img {
    height: 20px;
    width: 20px;
}
i.fa-comment {
    color: #444444;
}
#left-of-graph-1 {
    padding-top: 40px;
}
.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
#comments {
    right: 75px;
}
.dining-art-hr {
    color: #FFFFFF;
    width: 150px;
    margin-top: 5px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
.dining-art {
    font-size: 1em;
    color: #fff;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    /*background: maroon;*/
    padding: 0.4em 1em;
    padding-bottom: 0;
    /*margin-bottom: 0.75em;*/
    font-weight: 700;
    text-shadow: 0px 2px 3px maroon;
}

div.social-icon-container {
    font-size: 1rem;
}
.small-media {
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding-top: 25px;
    color: #BBBBBB;
    font-size: .7rem;
    padding-bottom: 10px;
}
footer > a,
footer > a:hover,
footer > a:focus {
    color: inherit;
}
.following-photo {
    padding-top: 0;
}
.body-photo-credit {
    position: relative;
    top: -5px;
}
.tile {
    padding: 0 0 0 0;
    background-position: center top;
    height: calc(34vh - 58px);
    min-height: 200px;
}
@media all and (max-height: 375px) and (min-height: 0px) {
    .push-down {
        height: 0;
    }
    .text-background {
        height: 100%;
    }
}
@media all and (max-height: 490px) and (min-height: 376px) {
    .push-down {
        height: 40%;
    }
    .text-background {
        height: 60%;
    }
}
@media all and (max-height: 615px) and (min-height: 491px) {
    .push-down {
        height: 50%;
    }
    .text-background {
        height: 50%;
    }
}
@media all and (min-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    body {
        font-size: 1.5rem;
    }
}
@media all and (max-width: 1199px) and (min-width: 992px) {
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    body {
        font-size: 1.5rem;
    }
}
@media all and (max-width: 991px) and (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    body {
        font-size: 1.5rem;
    }
    .tile {
        height: calc(34vh - 91px);
    }
}
@media all and (max-width: 767px) and (min-width: 650px) {
    .push-down {
        height: 30%;
    }
    .text-background {
        height: 70%;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    body {
        font-size: 1.5rem;
    }
}
@media all and (max-width: 649px) and (min-width: 0px) {
    .push-down {
        height: 20%;
    }
    .text-background {
        height: 80%;
    }
    h1 {
        font-size: 3.0rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    body {
        font-size: 1.4rem;
    }
}

h1 {
    padding-bottom: 25px;
    padding-top: 15px;
    color: black;
    font-size: 60px;
}
.text-info {
    font-size: 1rem;
}
.candidate {
    text-align: center;
}
.candidate-position {
    font-style: italic;
}
.candidate-name {
    font-weight:800;
}
.other-content-container > div {
    padding-top: 15px;
    padding-bottom: 15px;
}
thead {
    text-align: center;
}
.section-title {
    text-align: center;
    font-weight: bold;
}
.questions-table {
    margin: 0 auto;
}
.text-info {
    color: #333333;
    font-size: 1.0rem;
    line-height: 1.45;
}
.yes-no-question {
    padding-right: 20px;
}
.slate-name {
    text-align: center;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
}
.slate-name-container {
    position: absolute;
    width: 100%;
}
.tiles, .bios-container, .other-content-container, h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
img {
    display: block;
    margin: auto;
}
.tile.united-progress {
    border-style: solid;
    border-color: #33cc33;
    border-width: 5px;
    background-image: url("http://chicagomaroon.github.io/student-government-elections-2016/img/UnitedProgress2.jpg";
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #33cc33;
}
.tile.unite-and-support {
    border-style: solid;
    border-color: #ffcc00;
    border-width: 5px;
    background-image: url("http://chicagomaroon.github.io/student-government-elections-2016/img/Unite&Support2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffcc00;
}
.tile.our-campus{
    background-image: url("http://chicagomaroon.github.io/student-government-elections-2016/img/OurCampus2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: #AB1111;
    border-width: 5px;
    background-color: #AB1111;
}
.tile.moose-party {
    border-style: solid;
    border-color: #996633;
    border-width: 5px;
    background-image: url("http://chicagomaroon.github.io/student-government-elections-2016/img/MooseParty2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #996633;
}
.tile.undergraduate-liaison {
    background-color:#FFFFFF;
    border-style: solid;
    border-color: #0000cc;
    border-width: 5px;
}
.tile.graduate-liaison {
    background-color:#FFFFFF;
    border-style: solid;
    border-color: purple;
    border-width: 5px;
}
.tile.community-liaison {
    background-color:#FFFFFF;
    border-style: solid;
    border-color: #e6005c;
    border-width: 5px;
}

.slate-name.unite-and-support {
    background-color: #ffcc00;
}
.slate-name.our-campus {
    background-color: #AB1111;
}
.slate-name.moose-party {
    background-color: #996633;
}
.slate-name.united-progress {
    background-color: #33cc33;
}
.slate-name.undergraduate-liaison {
    background-color: #0000cc;
}
.slate-name.graduate-liaison {
    background-color: purple;
}
.slate-name.community-liaison {
    background-color: #e6005c;
}

#united-progress > div {
    border-color: #33cc33;
    border-width: 15px;
    border-style: solid;
}
#unite-and-support > div {
    border-color: #ffcc00;
    border-width: 15px;
    border-style: solid;
}
#our-campus > div {
    border-color: #AB1111;
    border-width: 15px;
    border-style: solid;
}
#moose-party > div {
    border-color: #996633;
    border-width: 15px;
    border-style: solid;
}

#undergraduate-liaison > div {
    border-color: #0000cc;
    border-width: 15px;
    border-style: solid;
}
#graduate-liaison > div {
    border-color:purple;
    border-width: 15px;
    border-style: solid;
}
#community-liaison > div {
    border-color: #e6005c;
    border-width: 15px;
    border-style: solid;
}
.slate-name.communiuty-liaison {
    padding: 0 5px 15px 5px;
}
.questions-table {
    border-collapse: separate;
    border-spacing: 15px 15px;
}
.category-header {
    font-weight: bold;
}
img.headshot {
    width: 250px;
    height: auto;
    border-radius: 125px;
    padding-bottom: 15px;
}
.thick-hr {
    width: 90%;
    border: 3px solid #333333;
}
.pitch {
    font-size: 1.2rem;
    font-style: italic;
}
.photo-credit {
    margin-top: 5px;
}

h4 {
  text-align: center;
  font-size: 25px;
  padding-bottom: 15px;
  font-weight: bold;
}
