/* ============================================================
  MAIN.CSS for womens-basketball-2015
============================================================ */
.caption {
    display: none;
    font-size: .9rem;
    position: relative;
    top: -20px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.video-container {
    padding-top: 20px;
}
/* Slides */
.slidesjs-pagination {
    position: relative;
    float: right;
    list-style-type: none;
    /*Removes bullet points that come with ul element by default. */
}
a.active[data-slidesjs-item] > svg > circle {
    fill: #333333;
}
a[data-slidesjs-item] {
    padding-left: 1px;
    padding-right: 1px;
}
.glyphicon {
    color: #333333;
    font-size: 1.6rem;
}
.slidesjs-container {
    margin-bottom: 5px;
    width: 529px;
    height: 940px;
    
}
.slidesjs-pagination-item {
    float: left;
}
#slides {
    display: none;
    width: 528px;
}
/* */

#slides {
    padding-top: 20px;
}
.text {
    margin: 0;
    font-family: "Crimson Text", "Georgia", Cambria, Times New Roman, Times, serif;
}
.alert-success {
    font-size: 1rem;
    font-weight: 300;
}
.alert-success,
.alert-title {
    display: none;
}
.alert-title {
    padding-bottom: 10px;
}
.poll-container {
    text-align: center;
}
#hidden-iframe,
form,
.poll-border {
    display: none;
}
.credit {
    color: #BBBBBB;
    font-size: .7rem;
}
.slideshow-credit {
    position: relative;
    top: -36px;
    left: 70px;
}
.navbar-header:after {
    clear: none;
}
.small-media-credit {
    max-width: 250px;
    margin: 0 auto;
}
.fullscreen {
    background: url(img/huddle.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 85vh;
    padding-left: 0;
    padding-right: 0;
}
.text-background {
    background-color: rgba(50, 50, 50, .8);
    height: 45%;
    text-align: center;
}
.push-down {
    height: 55%;
}
.container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.cover-photo.credit {
    padding-left: 30px;
}
h1,
h2,
h3 {
    color: #FFFFFF;
    text-align: center;
}
.produced.small {
    bottom: 40px;
}
.small {
    font-size: 1.2rem;
}
.medium {
    font-size: 1.5rem;
}
h1 {
    line-height: 3rem;
    font-weight: 800;
}
h2 {
    font-weight: 100;
    padding-top: 15px;
}
h2,
h3 {
    padding-left: 10px;
    padding-right: 10px;
}
h4 {
    font-size: 1.3rem;
}
.interviewee-name {
    padding-top: 10px;
}
.interview-right-side {
    padding-left: 30px;
    vertical-align: top;
}
.interview:first-of-type {
    padding-top: 30px;
}
.interview {
    padding-left: 10px;
    padding-right: 10px;
}
.lightweight {
    font-weight: 200;
    padding-top: 0;
}
.quotation {
    font-style: italic;
    font-weight: 600;
    padding-top: 10px;
    margin: 0 auto;
}
[text-anchor="end"]>tspan {
    cursor: default;
}
p {
    padding-top: 13px;
}
.navbar-brand > img {
    height: 40px
}
.view-transcript {
    margin-top: 15px;
}
.transcript {
    display: none;
}
.take-poll-btn {
    margin-top: 20px;
}
.author {
    position: absolute;
    bottom: 20px;
    text-align: center;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.produced {
    bottom: 60px;
}
p.first-paragraph:first-letter {
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}
.visible {
    opacity: 1;
}
.white {
    color: white;
}
.video-title {
    margin-top: 20px;
}
.right {
    float: right;
}
.social-icon-container.fb {
    margin-left: 10px;
}
.navbar-default {
    background-color: #FFFFFF;
}
.social-icon {
    height: 20px;
    width: 20px;
}
.social-icon > img {
    height: 20px;
    width: 20px;
}
i.fa-comment {
    color: #444444;
}
#left-of-graph-1 {
    padding-top: 40px;
}
.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
#comments {
    right: 75px;
}
.dining-art-hr {
    color: #FFFFFF;
    width: 300px;
    margin-top: 5px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
.dining-art {
    font-size: 1em;
    color: #fff;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    /*background: maroon;*/
    padding: 0.4em 1em;
    padding-bottom: 0;
    /*margin-bottom: 0.75em;*/
    font-weight: 700;
    text-shadow: 0px 2px 3px maroon;
}
/*
.dining-art:after {
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    z-index: 200;
    background: transparent url("img/header-arrow.png") no-repeat center bottom;
    background-size: 100% 10px;
}
*/

div.social-icon-container {
    font-size: 1rem;
}
.small-media {
    display: block;
    margin: 0 auto;
}
@media all and (max-height: 375px) and (min-height: 0px) {
    .push-down {
        height: 0;
    }
    .text-background {
        height: 100%;
    }
}
@media all and (max-height: 490px) and (min-height: 376px) {
    .push-down {
        height: 30%;
    }
    .text-background {
        height: 70%;
    }
}
@media all and (max-height: 615px) and (min-height: 491px) {
    .push-down {
        height: 30%;
    }
    .text-background {
        height: 70%;
    }
}
@media all and (min-width: 1200px) {
    h1 {
        font-size: 4rem;
        line-height: 3rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    body {
        font-size: 1.4rem;
    }
}
@media all and (max-width: 1199px) and (min-width: 992px) {
    h1 {
        font-size: 3.4rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    body {
        font-size: 1.2rem;
    }
}
@media all and (max-width: 991px) and (min-width: 768px) {
    h1 {
        font-size: 3.2rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    body {
        font-size: 1rem;
    }
}
@media all and (max-width: 767px) and (min-width: 650px) {
    .push-down {
        height: 30%;
    }
    .text-background {
        height: 70%;
    }
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    body {
        font-size: 1rem;
    }
}
@media all and (max-width: 649px) and (min-width: 0px) {
    .push-down {
        height: 20%;
    }
    .text-background {
        height: 80%;
    }
    h1 {
        font-size: 2.0rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    body {
        font-size: 1rem;
    }
}

#container {
    height: 500px;
    width: 800px;
    margin: 0 auto;
    padding-bottom: 15px;
}
.highcharts-tooltip>span {
    padding: 10px;
    white-space: normal !important;
    width: 200px;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
.f32 .flag {
    vertical-align: middle !important;
}