/* ============================================================
  MAIN.CSS
============================================================ */

/* Formatting for loading modal. */
.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('loading.gif') 50% 50% no-repeat; <!-- [TODO] Download this gif. -->
}

/* Formatting for crime map canvas. */
#map-canvas {
    height: 600px;
    width: 450px;
    margin: 0px;
    padding: 0px
}

/* Formatting for crime map panel. */
#panel {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    top: 1%;
    left: -30%;
    float: right;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    border-color: #DDDDDD;
    border-radius: 5px;
}
tspan {
    font-family: 'Roboto Condensed';
}

label[for="year-slider"] {
    position: relative;
    font-weight: bold;
}

/* Bolds crime category names. */
.category-name {
    font-weight: 800;
}

/* Formats color boxes. */
.color-box {
    height: 15px;
    width: 15px;
    float: right;
}

/* Formats year slider (selector). */
#year-slider {
    width: 232px;
}

/* Colors for different crimes. */
.arson {
    background-color: brown;
}
.homicide {
    background-color: red;
}
.burglary {
    background-color: blue;
}
.theft {
    background-color: purple;
}
.motor-vehicle-theft {
    background-color: gray;
}
.sexual-assault {
    background-color: orange;
}
.robbery {
    background-color: yellow;
}
.assault {
    background-color: green;
}
.battery {
    background-color: lime;
}
.cannabis {
    background-color: aqua;
}
.crack-cocaine {
    background-color: #FF69B4;
}
.heroin {
    background-color: #3EB278;
}
.cocaine {
    background-color: #FFA07A;
}
.other-drug-crimes {
    background-color: #E500FF;
}