* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
}

a:focus {
  color: #800000;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6em;
  font-size: 16px;
  font-family: 'Georgia', serif;
  width: 100vw;
}

h1 {
  font-size: 50px;
  line-height: 1em;
  text-align: center;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  line-height: 1.2em;
  width: 100%;
  margin: 0 auto;
}

a {
  color: #800000;
}

h2.section-header {
  color: maroon;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.credits_font {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  line-height: 2em;
}

.contentdiv {
  position: relative;
  margin-top: 20px;
  top: 0px;
  height: 2px;
  width: 730px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #800000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button_label {
  position: absolute;
  left: 50%;
  line-height: 20px;
  transform: translateX(-50%);
  font-size: 16px;
  top: 12px;
  color: #0a8f4e;
  background-color: #dfe3c4;
  white-space: nowrap;
}

#minority_populations {
  font-size: 14px;
}

.oval-dollar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.1px;
  width: 25px;
  border: 2px solid #393a33;
  height: 42px;
  z-index: 1;
  border-radius: 50%;
  opacity: 0.7;
}

.agency_option {
  position: relative;
  border: 1px solid #393a33;
  height: 25px;
  width: 100%;
  background-color: #dfe3c4;
}

.grant_button_container {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 20px;
  position: relative;
  width: 350px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  overflow: visible;
}

.grant_button {
  position: relative;
  background-color: #dfe3c4;
  border: 2px solid #393a33;
  text-align: center;
  color: #393a33;
  width: 140px;
  height: 50.5px;
  transition: transform 0.2s ease;
  vertical-align: top;
  z-index: 20;
}

@media (hover: hover) and (pointer: fine) {
  .grant_button:hover {
      transform: translateY(-5px);
  }
}

#enddiv {
  position: absolute;
  width: 10px;
  height: 50px;
}

#intro-container {
  position: relative; /* make it the positioning context */
  background-image: url('/cover.jpg');
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#intro-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* perfectly centered */
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  color: white;
  box-sizing: border-box;
  background-color: rgba(36, 65, 83, 0.9);
  border-radius: 10px;
  padding: 1vh 2vh;
  margin: 0;
  text-align: center;
}

.headerdiv {
  position: relative;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

#byline-container {
  margin-top: 3vh;
}

#subhead {
  margin-top: 3vh;
  background-color: rgba(36, 65, 83, 0.9);
  border-radius: 10px;
  color: white;
  font-weight: normal;
  text-align: center;
}

#maroon {
  fill: white;
  width: 400px;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 400px;
  margin: 30px auto;
}

#intro-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

@media screen and (max-width: 750px) {
  .headerdiv {
      width: 90% !important;
      padding: 0 !important;
  }

  #intro-content {
      width: 90% !important;
  }

  #header {
      position: relative !important;
      padding: 0 !important;
      font-size: 35px !important;
  }

  #maroon {
      width: 350px !important;
  }

  #subhead {
      position: relative !important;
      padding: 0 !important;
      font-size: 20px !important;
  }
}

@media screen and (max-height: 680px) {
  #header {
      font-size: 30px !important;
  }

  #subhead {
      font-size: 20px !important;
  }

  .byline {
      font-size: 14px !important;
  }

  #arrow {
      bottom: 10px;
  }
}

@media screen and (max-height: 580px) {
  #header {
      font-size: 30px;
  }

  #subhead {
      font-size: 20px;
  }

  #arrow {
      display: none !important;
  }

  #intro-content {
      top: 62vh !important;
  }

  #maroon {
      margin-top: 10px !important;
  }
}

@media screen and (max-height: 430px) {
  #header {
      font-size: 25px !important;
  }

  #subhead {
      font-size: 14px !important;
  }
  .byline {
    font-size: 14px !important;
  }

  #arrow {
      display: none !important;
  }

  #intro-content {
      top: 62vh !important;
  }

  #maroon {
      margin-top: 10px !important;
  }
}

.byline {
  font-size: 15px;
  text-align: center;
  color: white;
  background-color: rgba(36, 65, 83, 0.8);
}

#arrow {
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: block;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  bottom: 30px;
}

#arrow:hover {
  transform: translate(-50%, 5px);
}

.byline_link {
  font-weight: bold;
  color: #FF7070;
}

#separator {
  position: relative;
  width: 40vw;
  height: 3px;
  background-color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#scroll {
  position: relative;
  top: 10px;
  width: 100%;
  max-width: 100vw;
  margin-bottom: 100px;
}

#methods {
  font-size: 5px;
  padding-bottom: 20px;
}

.method-text {
  font-size: 10px;
  color: grey;
  margin-bottom: 20px;
}

.credits_container {
  position: absolute;
  height: 100px;
  padding: 20px;
  padding-bottom: 20px;
}

.scroll__graphic {
  position: sticky;
  top: 20px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.body_container {
  position: absolute;
  margin-top: 50px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.pre_body_container {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.inner_body_container {
  position: absolute;
  width: 100%;
}

.body_text_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.body_font {
  line-height: 1.6em;
  font-size: 19px;
  font-family: 'Georgia', serif;
  margin-bottom: 20px;
}

.is_relative {
  position: relative;
}

#x_mark {
  position: relative;
  left: 5px;
  width: 20px;
}

.chart-svg {
  position: relative;
  width: 100%;
  height: 640px;
  /* background-color: red; */
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .body_container {
      width: 99%;
  }

  .body_font {
      font-size: 15px;
  }

  .pre_body_container {
      width: 99%;
  }

  .contentdiv {
      width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .scroll__graphic {
      width: 400px;
      padding-left: 0px;
      padding-right: 0px;
  }
}

@media screen and (max-width: 365px) {

#header {
  font-size: 28px !important;
}

#subhead {
  font-size: 17px !important;
}

.byline {
  font-size: 14px !important;
}

}


@media screen and (max-width: 400px) {

#header {
  font-size: 35px;
}

#subhead {
  font-size: 18px;
}

}


@media screen and (max-width: 450px) {
  .text_container {
      width: 100% !important;
  }

  .scroll_container {
      width: 90% !important;
  }

  #maroon {
      width: 300px !important;
  }

  #arrow {
      bottom: 5px !important;
  }

  .scroll__graphic {
      width: 95%;
      top: 0px;
      padding-left: 0px;
      padding-right: 0px;
  }

  .grant_button_container {
      width: 90%;
      gap: 15px;
  }

  #agency_options {
      margin-bottom: 0px !important;
  }

  .grant_button {
      width: 140px;
      align-items: top;
      height: 50px;
      min-width: 50px;
  }

  .button_label {
      top: 12px;
  }

  .oval-dollar {
      width: 20px;
      height: 38px;
      margin-top: 3.5px;
  }

  #graphic_title {
      position: relative;
      top: 3vw;
      font-size: 25px;
      color: maroon;
  }
}

#graphic-title-container {
  position: relative;
  height: 50px;
}

#graphic_title {
  margin: 0;
  font-size: 25px;
  color: maroon;
}

#method-show {
  text-decoration: underline;
}

#maroon_end {
  width: 20px;
  margin-left: 10px;
  vertical-align: middle;
}

.offset_container {
  position: relative;
  height: 80vh;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.scroll_container {
  position: relative;
  padding: 20px;
  z-index: 10;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.text_container {
  position: relative;
  margin-bottom: 90vh;
  padding: 8px;
  border: 1px solid #800000;
  border-radius: 10px;
  background-color: white;
  z-index: 20;
  width: 350px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.scroll_font {
  color: black;
}
