* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a:focus {
    color: #800000;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;

}

body {
  line-height: 1.6em;
  font-size: 16px;
  font-family: 'Georgia', serif;
  width: 100vw;
}

h1 {
  font-size: 50px;
  line-height: 1em;
  text-align: center;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  line-height: 1.2em;
  width: 100%;
  margin: 0 auto;
}

a {
  color: #800000;
}

.headerdiv {
  position: relative;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

.credits_font {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  line-height: 2em;
}


.contentdiv {
  position: relative;
  margin-top: 20px;
  top: 0px;
  height: 2px;
  width: 730px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #800000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button_label {
  position: absolute;
  left: 50%;
  line-height:20px;
  transform: translateX(-50%);
  font-size: 16px;
  top: 12px;
  color: #0A8F4E;
  background-color: #DFE3C4;
  white-space: nowrap;
}

#minority_populations {
  font-size: 14px;
}

.oval-dollar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.1px;
  width: 25px;
  border: 2px solid #393A33;
  height: 42px;
  z-index: 1;
  border-radius: 50%;
  opacity: .7;
}

.agency_option {
  position: relative;
  border: 1px solid #393A33;
  height: 25px;
  width: 100%;
  background-color: #DFE3C4;
}

.grant_button_container {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 20px;
  position: relative;
  width: 350px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  overflow: visible;
}

.grant_button {
  position: relative;
  background-color: #DFE3C4;
  border: 2px solid #393A33;
  text-align: center;
  color: #393A33;
  width: 140px;
  height: 50.5px;
  transition: transform 0.2s ease;
  vertical-align: top;
  z-index: 20;
}

@media (hover: hover) and (pointer: fine) {
  .grant_button:hover {
    transform: translateY(-5px);
  }
}

#enddiv {
  position: absolute;
  width: 10px;
  height: 50px;
}

#header{
  margin-top: 150px;
  color: white;
  background-color: rgba(36, 65, 83, .8);
}

#intro-container {
  height: 2px;
  background-image: url('/cover.jpg');
  background-size: cover;
  background-position: center center;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#intro-bg {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}



#subhead {
  color: white;
  background-color: rgba(36, 65, 83, 0.8);
  font-weight: normal;
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

.byline {
  font-size: 15px;
  text-align: center;
  color: white;
  background-color: rgba(36, 65, 83, 0.8);
}

#arrow {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: block;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  bottom: -200px;
}

#arrow:hover {
  transform: translate(-50%, 5px);
}


#root {
  width: 100%;
  min-height: 100vh;
} 

.byline_link {
  font-weight: bold;
  color: #850611;
}

#maroon {
  position: relative;
  fill: white;
  width: 400px;
  top:0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 400px;
  margin: 30px auto;
}



#separator {
  position: relative;
  width: 40vw;
  height: 3px;
  background-color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#scroll {
  position: relative;
  top: 10px;
  width: 100%;
  max-width: 100vw;
  margin-bottom: 100px;
}

.credits_container {
  position: absolute;
  height: 100px;
  margin-top: 20px;
}

.scroll__graphic {
  position: sticky;
  top: 20px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px; 

  display: flex;
  flex-direction: column;
  align-items: center;
}

.body_container {
  position: absolute;
  margin-top: 50px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}


.pre_body_container {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}


.inner_body_container {
  position: absolute;
  width: 100%;
}

.body_text_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.body_font {
  line-height: 1.6em;
  font-size: 19px;
  font-family: 'Georgia', serif;
  margin-bottom: 20px;
}


.is_relative {
  position: relative;
}

#x_mark {
  position: relative;
  left: 5px;
  width: 20px;

}


.chart-svg {
  position: relative;
  width: 100%;
  height: 640px;
  /* background-color: red; */
  overflow: hidden;
}


@media screen and (max-width: 780px) {

  .body_container {
    width: 99%;
  }

  .body_font {
    font-size: 15px;
  }
  

  .pre_body_container {
    width: 99%;
  }

  .contentdiv {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {

  #arrow {
    bottom: -100px;
  }

}


@media screen and (max-width: 500px) {

  .scroll__graphic {
    width: 400px;
    padding-left: 0px;
    padding-right: 0px;
  }

}


@media screen and (max-width: 650px) {

  .headerdiv {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 90%;
  }

  #header {
    text-align: center !important;
  }

}

@media screen and (max-width: 450px) {
  #maroon {
    width: 90%;
  }

  #arrow {
    bottom: -50px;
  }

  .text_container {
    width: 100% !important;
  }

  .scroll_container {
    width: 90% !important;
  }

  .scroll__graphic {
    width: 95%;
    top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .grant_button_container {
    width: 90%;
    gap: 15px;
  }

  #agency_options {
    margin-bottom: 0px !important;
  }
  
  .grant_button {
    width: 140px;
    align-items: top;
    height: 50px;
    min-width: 50px;

  }
  
  .button_label {
    top: 12px;
  }
  
  .oval-dollar {
    width: 20px;
    height: 38px;
    margin-top: 3.5px;
  }

  
  #graphic_title {
    position: relative;
    top: 3vw;
    font-size: 25px;
    color: maroon;
  }

  
}

@media screen and (max-width: 400px) {

  #header {
    font-size: 39px;
    margin-top: 0px;
  }
}

#graphic-title-container {
  position: relative;
  height: 50px;
}

#graphic_title {
  margin: 0;
  font-size: 25px;
  color: maroon;
}

.offset_container {
  position: relative;
  height: 80vh;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.scroll_container {
  position: relative;
  padding: 20px;
  z-index: 10;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.text_container {
  position: relative;
  margin-bottom: 90vh;
  padding: 8px;
  border: 1px solid #800000;
  border-radius: 10px;
  background-color: white;
  z-index: 20;
  width: 350px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.scroll_font {
  color: black;
}