/* ============================================================
  BASE.CSS
============================================================ */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}
.text {
    font-family: "Crimson Text", "Georgia", Cambria, Times New Roman, Times, serif;
}
.body-text {
    padding-top: 20px;
    color: #333333;
    font-size: 1.0rem;
    line-height: 1.45;
}
h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}
h2 {
    color:white;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer {
    text-align: center;
    padding-top: 50px;
    color: #BBBBBB;
    font-size: .9rem;
    padding-bottom: 10px;
}

footer > a,
footer > a:hover,
footer > a:focus {
    color: inherit;
}
@media all and (max-height: 375px) and (min-height: 0px) {
    .push-down {
        height: 0;
    }
    .text-background {
        height: 100%;
    }
}
@media all and (max-height: 490px) and (min-height: 376px) {
    .push-down {
        height: 40%;
    }
    .text-background {
        height: 60%;
    }
}
@media all and (max-height: 615px) and (min-height: 491px) {
    .push-down {
        height: 50%;
    }
    .text-background {
        height: 50%;
    }
}
@media all and (min-width: 1200px) {
    h1 {
        font-size: 4rem;
        line-height: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    body {
        font-size: 1.6rem;
    }
}
@media all and (max-width: 1199px) and (min-width: 992px) {
    h1 {
        font-size: 3.4rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    body {
        font-size: 1.6rem;
    }
}
@media all and (max-width: 991px) and (min-width: 768px) {
    h1 {
        font-size: 3.2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    body {
        font-size: 1.6rem;
    }
}
@media all and (max-width: 767px) and (min-width: 650px) {
    .push-down {
        height: 30%;
    }
    .text-background {
        height: 70%;
    }
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    body {
        font-size: 1.4rem;
    }
}
@media all and (max-width: 649px) and (min-width: 0px) {
    .push-down {
        height: 20%;
    }
    .text-background {
        height: 80%;
    }
    h1 {
        font-size: 2.0rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    body {
        font-size: 1.4rem;
    }
}