/* ============================================================
  MAIN.CSS
============================================================ */
h1 {
    color: #000000;
}
a.story-link {
    color: white;
    font-size: 2rem;
}
a.story-link:hover {
    text-decoration: none;
    color: white;
}

.author, .date-published {
    font-size: 1.5rem;
    font-weight: 100;
}

/* Basic code for creating story tile. */
.box {
    height: 300px;
    background-size: cover;
    background-position: center;
    padding-left:0;
    padding-right: 0;
}

/* Gray translucent background so white text is easier to read. */
.text-background {
    background-color: rgba(50, 50, 50, .8);
    padding-left: 10px;
    padding-right: 10px;
}

/* Makes whole tile clickable by overlaying an empty span on top of the whole div. */
.empty-span {
    position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

footer {
    padding-top: 10px;
}

/* Background for story tiles. */
div.international-students {
    background-image: url('http://chicagomaroon.github.io/img/bagpipes.jpg');
}
div.aramark {
    background-image: url('http://chicagomaroon.github.io/img/cathey.jpg');
}
div.age-of-blossoms {
    background-image: url('http://chicagomaroon.github.io/img/man.jpg');
}
div.womens-basketball-2015 {
    background-image: url('http://chicagomaroon.github.io/img/huddle.jpg');
}