@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* overall */

body {
    line-height: 1.6em;
    font-size: 18px;
    font-family: 'Georgia', serif;
    /* background-color: #ffff00; */
}

footer {
    background-color: #800000;
    padding: 60px;
    color: white;
    margin-top: 20vh;
}

a {
    color: #2365f1;
}

/* text */

h1 {
    font-size: 50px;
    line-height: 1em;
    text-align: center;
    padding-top: 15vh;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

hr {
    margin: 2em auto;
    width: 80%;
}

#subtitle {
    font-size: 28;
    text-align: center;
}

.cursor-crosshair {
    cursor: pointer !important;
}

/* intro */

#pre-intro {
    background: black;
    color: white;
    padding: 4em 0;
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 100vh;
}

#intro-quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.intro-quote {
    display: flex;
    flex-direction: column;
    margin: -1em 0;
}

.intro {
    height: 100vh;
}

#methodology,
#conclusion,
#further-reading {
    margin: auto;
    width: max(600px, 50vw);
}

#methodology {
    font-size: 14px;
    margin: 4em auto;
}

.intro {
    z-index: 1000;
    position: relative;
    color: white;
}

.intro a {
    color: white;
}

#background {    
    /* https://stackoverflow.com/questions/15765550/darkening-an-image-with-css-in-any-shape */
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .6)), url('images/south-africa.jpg');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    z-index: 1000;
    position: relative;
}

.quote {
    text-align: justify;
    width: 50vw;
    line-height: 1.2em;
}

.admin .attribution {
    text-align: right;
}

.attribution {
    margin: 0;
    opacity: 0;
    font-style: italic;
    width: 40%;
    line-height: 1em;
}

.attribution a {
    color: white;
}

#bylines {
    font-size: 16px;
    text-align: center;
}

.admin {
    align-items: flex-end;
}

.admin p {
    display: block;
}

/* chapters */

#chapters {
    width: 35vw;
    margin-left: 62vw;
    position: relative;
}

#content {
    margin-top: 120vh;
}

.scroller {
    margin-top: 50vh;
    margin-bottom: 50vh;
    /* background-color: #fefedc; */
    padding: 2em;
    box-shadow: 0 0 1em #dedede;
}

.scroller img,
figure {
    /* border: 1px solid black; */
    background-color: white;
    box-shadow: 0 0 1em #dddddd;
    margin: 1em 0;
    padding: 1em 0;
}

.scroller img {
    width: 100%;
}

figcaption {
    font-family: 'Playfair Display', serif;
    text-align: right;
}

figure {
    padding: 1em;
}

blockquote {
    font-weight: 400;
    line-height: 1.2em;
    font-size: 26px;
    margin: 0 !important;
    font-family: 'Georgia', serif;
}

.quote p {
    margin: 0;
}

#chart-div {
    position: fixed;
    width: 60vw;
    top: 0;
    left: 10px;
    z-index: 1;
}

figure {
    margin: 0 !important;
}

#further-reading {
    margin-top: 20em;
}

@media (width < 800px) {
    body {
        margin: 0;
    }

    h1 {
        font-size: 40px;
    }

    #subtitle {
        font-size: 20px;
    }

    #pre-intro {
        padding: 2em 0;
        font-size: 15px;
        height: 150vh;
    }

    #chart-div {
        height: 50vh !important;
    }

    .plotly {
        position: absolute;
        left: 0;
        margin-top: -15px !important;
    }
    
    #chart-div, #intro-quotes, #background, .content {
        margin: 0;
        width: 100vw;
    }

    #chapters {
        width: 100vw;
        margin: 0;
    }

    .intro p {
        margin-top: 5vh !important;
    }

    .intro {
        width: 90%;
        margin: auto;
    }
    
    .intro-quote {
        width: 80%;
        margin: 0;
    }

    .attribution {
        width: 75%;
    }

    .scroller {
        width: 80vw;
        margin: 50vh auto;
    }

    .scroller img {
        max-height: 30vh;
        margin: 0 auto;
        margin-top: 1em;
        display: block;
        width: auto;
    }
    }

    p,
    .scroller,
    #further-reading,
    #methodology {
        font-size: 14px;
    }

    .scroller img {
        width: 90vw;
    }

    blockquote {
        font-size: 16px;
    }

    .main-svg {
        height: 360px !important;
    }
}
