name: Format-and-Lint
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2 # Check out the repository first.
      - uses: actionsx/prettier@v2
        with:
          # prettier CLI arguments.
          args: --check --config .prettierrc.json --ignore-path .prettierignore .
  eslint:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@v2
          with:
            node-version: 16.6.1

        - name: Install dependencies
          run: npm ci

        - name: Run eslint on changed files
          uses: tj-actions/eslint-changed-files@v19
          with:
            config_path: "eslint.config.mjs"
